div {
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    box-shadow: 1px 1px 20px yellow;
    background-image: url(b-g.jpg);
    background-size: cover;
}